.contact-form-padding {
  padding: 0 164px 0 164px;
}
.contact-form__right-title-font {
  font-size: 24px;
  font-weight: 300;
}
.contact-form__form-border {
  border: 1px solid #e0e0e0;
  padding: 16px 16px 0 16px;
}
.contact-form__form-row-gap {
  gap: 33px;
}
.contact-form__primary-btn-gap {
  display: flex;
  flex-direction: column;
  row-gap: 24px !important;
}
.contact-form__primary-btn-positin {
  position: relative;
  height: 3rem;
}

@media only screen and (max-width: 1584px) {
  .contact-form-padding {
    padding: 0 136px 0 136px;
  }
}
@media only screen and (max-width: 1055px) {
  .contact-form-padding {
    padding: 0 32px 0 32px;
  }
  .contact-form__section-left-right-gap {
    gap: 24px;
  }
  .contact-form__left-title-font {
    font-size: 32px;
  }
}
@media only screen and (min-width: 480px) {
  .contact-form__primary-btn {
    width: 50%;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-padding {
    padding: 0 16px 0 16px;
  }
  .contact-form__section-left-right-gap {
    gap: 16px;
  }
  .contact-form__left-title-font {
    font-size: 24px;
  }

  .contact-form__mobile-primary-btn {
    padding-left: 20px !important;
    position: absolute;
    right: 0;
  }
}
