.fabiziBranch-card {
  padding: 96px 164px 0 164px;
}
.fabiziBranchCrad__header {
  font-size: 24px;
  font-weight: 300;
  color: #161616;
}
.fabiziBranchCrad-bold__content {
  font-weight: 400;
  color: #525252;
}
.fabiziBranchCrad__content {
  font-weight: 400;
  color: #6f6f6f;
}

.icon-space {
  margin-right: 12px;
}

.icon-text {
  display: flex;
  align-items: center;
}

.ProductiveCard {
  color: black;
}

@media screen and (max-width: 1584px) {
  .fabiziBranch-card {
    padding: 42px 136px 0 136px;
  }
}
@media screen and (max-width: 1036px) {
  .fabiziBranch-card {
    padding: 32px;
  }
}

@media screen and (max-width: 480px) {
  .fabiziBranch-card {
    padding: 32px 16px 32px 16px;
  }
}
