.branch-card-padding {
  padding: 96px 164px 0 164px;
}
.branch-card__title-font {
  font-size: 24px;
  font-weight: 300;
  color: #161616;
}
.branch-crad__first-sentence-font {
  font-weight: 400;
  color: #525252;
}
.branch-crad__second-sentence-font {
  font-weight: 400;
  color: #6f6f6f;
}

.branch-crad__arrow-icon {
  margin-right: 12px;
}

.branch-crad__arrow-text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1584px) {
  .branch-card-padding {
    padding: 42px 136px 0 136px;
  }
}
@media screen and (max-width: 1036px) {
  .branch-card-padding {
    padding: 32px 32px 0 32px;
  }
}

@media screen and (max-width: 480px) {
  .branch-card-padding {
    padding: 32px 16px 0 16px;
  }
}
