@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap");
.footer-padding {
  background-color: #161616;
  padding: 48px 164px 24px 164px;
  color: #ffffff;

  // .cds--col-sm-4 {
  //   padding-left: 0;
  // }

  .footer__paragraph-color {
    color: #a8a8a8;
  }
  .footer__item-color {
    color: #8d8d8d;
  }

  .footer__fabizi-information-color {
    color: #e0e0e0;
  }
  .footer__item-title-font {
    font-weight: 400;
  }
  #footer__Dropdown-color,
  #footer__Dropdown-price-color,
  #footer_dropdown-mobile-language,
  #footer_dropdown-mobile-price {
    background-color: rgba(57, 57, 57, 1);
  }

  .footer__copyright-icon {
    margin-left: 15px;
    margin-right: 10px;
  }
  .cds--grid {
    padding: 0;
  }
  .footer__title-letter {
    font-family: "Dancing Script";
    font-weight: 400;
    font-size: 42px;
  }
  .footer__fabizi-information-underline {
    text-decoration: underline;
  }

  .footer__item-font-size {
    font-size: 14px;
    font-weight: 400;
  }
  .footer__copyright-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 1584px) {
  .footer-padding {
    padding: 48px 136px 24px 136px;
  }
}

@media screen and (max-width: 1042px) {
  .footer__title-font {
    font-size: 32px;
  }
  .footer-padding {
    padding: 48px 32px 24px 32px;
  }
  .footer__dropdown-desktop-hide {
    display: none;
  }
}

@media screen and (min-width: 1042px) {
  .footer__dropdown-mobile-show {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .footer__mobile-line {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .footer-padding {
    padding: 32px 16px 24px 16px;
  }
  .footer__desktop-line {
    display: none;
  }
  .footer__title-font {
    font-size: 24px;
  }
  .footer__title-letter {
    font-size: 24px;
  }
}
